:root {
    --main-color: #000000;
    --second-color: #848A9A;

    // colors
    --default-color: #E52D2D;
    --hover-color: #FF3C3C;
    --focused-color: ##E52D2D;
    --pressed-color: #BF221E;
    --disable-color: #DBDBDB;

    //h1
    --h1-fs: 72px;
    //h2
    --h2-fs: 52px;
    //h3
    --h3-fs: 32px;
    //h4
    --h4-fs: 24px;

    //accent
    --accent-fs: 24px;

    //p
    --p-fs: 18px;

    //dsc
    --dsc-fs: 12px;
}