.container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 350px);
    margin-top: 50px;
    gap: 50px;
}

.pizza_card_container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.title {
    font-size: var(--h1-fs);
    font-weight: 700;
    text-align: center;
    margin-top: 150px;
}

.filter {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;

    & button {
        text-transform: uppercase;
        font-weight: 700;
        transition: .2s;

        &:hover {
            color: var(--hover-color);
        }

        &:active {
            color: var(--pressed-color);
        }
    }
}

@media (max-width: 1150px) {
    .container {
        grid-template-columns: repeat(2, 350px);
    }

    .title {
        margin-top: 100px;
    }
}

@media (max-width: 800px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .title {
        font-size: var(--h2-fs);
        margin-top: 50px;
    }
}

@media (max-width: 675px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 470px) {
    .title {
        font-size: var(--h3-fs);
    }

    .filter {
        margin-top: 20px;
        font-size: var(--dsc-fs);
    }
}