@import './styles/reset.scss';
@import './styles/variables.scss';

@font-face {
    font-family: Involve;
    src: url('../assets/fonts/Involve-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: Involve;
    src: url('../assets/fonts/Involve-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: Involve;
    src: url('../assets/fonts/Involve-Regular.ttf');
    font-weight: 400;
}

.app {
    font-family: "Involve", sans-serif !important;
    min-height: 100vh;
}

.react-multi-carousel-dot-list {
}

